//--Colors--//
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #008766;
 

//--Backgrounds-Colors--//
$white: #FFF;
$black: #353535;
$gray: #7E7E7E;
$gray-medium: #EAEAEA;
$gray-light: #F7F7F7;
$gray-sec: #D2D2D2; 

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin btn-hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.9;
}

body {
    margin: 0;
    font-family: roboto;
}

main {
    background-color: #F6F6F6;
}

.header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
    position: relative;
    z-index: 1;
    @include desktop {
        height: 96px;
    }
        &__logo {
            height: 30px;
            padding: 21px 0 12px 0;
            @include desktop {
                height: 38px;
                padding: 28px 0 25px 0;
            }
        }
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $gray-medium;
    i {
        padding-right: 17px;
    }
    p {
        font-weight: 500;
        color: $black;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 39.5px 0 57px 0;
    @include desktop {
        padding: 30px 0 30px 0;
    }
    h1 {
        margin: 0;
        padding-bottom: 12px;
        @include desktop {
            font-size: 40px;
            padding-bottom: 18px;
        }
    }
    p {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        padding-bottom: 27px;
    }
}

.button {
    display: flex;
    width: 218px;
    height: 50px;
    text-decoration: none;
    background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 25px;
    color: $white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    &:hover {
        @include btn-hover;
    }
}

.functionning {
    padding: 48px 0 68px 20px;
    margin: 0;
    background-color: $white;
    display: flex;
    flex-direction: column;
    @include desktop {
        padding: 45px 0 34px 20px;
    }
    &--block {
        @include desktop {
            margin: auto;
            width: 100%;
            max-width: 1140px;
        }
    }
    h1 {
        margin-top: 0;
    }
}

.functionning-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24.92px;
    padding: 0 20px 0 12.51px;
    @include desktop {
        flex-direction: row;
        gap: 36.51px;
        justify-content: center;
    }
    li {
        display: flex;
        align-items: center;
        background-color: $gray-light;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        height: 72.38px;
        counter-increment: my-counter 1;
        @include desktop {
            width: 344.5px;
        }
        i {
            color: $gray;
            padding: 0 27px 0 9px;

        }
        &:hover {
            i {
                color: $color-primary;
            }
        }
        &:before {
            content: counter(my-counter);
            background-color: $color-primary;
            color: $white;
            font-size: 14.18px;
            font-weight: 500;
            width: 24px;
            height: 24px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 12px;
        }
        span {
            font-weight: 500;
        }
    }
}

.restaurants {
    padding: 54px 0 0 20px;
    display: flex;
    flex-direction: column;
    &--block {
        @include desktop {
        margin: auto;
        width: 100%;
        max-width: 1140px;
        }
    }
    h1 {
        margin-top: 0;
    }
    a {
        text-decoration: none;
        color:  $black;
    }
    &--card {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0 18px 0 0;
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 50px;
            justify-content: space-between;
            width: 100%;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 174px;
    }
}
.card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 18px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    @include desktop {
        width: 490px;
    }
}
.card-content {
    display: flex;
    justify-content: space-between;
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        height: 77px;
        padding-left: 13px;
        h2 {
            font-size: 18px;
            margin: 0;
        }
        p{
            font-size: 17px;
            font-weight: 300;
            margin: 0;
        }
    }
}
.like {
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
    margin: 20px 25px 0 0;
    padding: 0;
    i {
        font-size: 24px;
        transition: 600ms ease-in-out;
        &:hover {
            background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }
    }
}    
.badge-new {
    color: $color-tertiary-dark;
    background-color: $color-tertiary;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}