//--Colors--//
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #008766;
 

//--Backgrounds-Colors--//
$white: #FFF;
$black: #353535;
$gray: #7E7E7E;
$gray-medium: #EAEAEA;
$gray-light: #F6F6F6; 

@mixin desktop {
    @media screen and (min-width: 768px) {
        @content
    }
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    height: 63px;
    @include desktop {
        height: 96px;
    }
        &__logo {
            height: 30px;
            padding: 21px 0 12px 0;
            @include desktop {
                height: 38px;
                padding: 28px 0 25px 0;
            }
        }
}